html{
    margin: -10px;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.first-element{
    background-color: #17402A;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    
}
#logo{
    width: 150px;
    
}

.white-space{
    height: 10px;
    width: 610px;
}

.links {
    list-style: none;
    display: flex;
    gap: 10px;
    color:#F9FAF8
}
.link1:hover{
    text-decoration: underline 2px #f5c116;
}
.link2:hover{
    text-decoration: underline 2px #f5c116;
}
.link3:hover{
    text-decoration: underline 2px #f5c116;
}

a {
    text-decoration: none;

}
.second-element{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #17402A;
    padding: 2% 0%;

}
.hero{
    display: flex;
    flex-flow: column;
    max-width: 620px;
    max-height: 300px;

}
.hero  p{
    color: #e5e7eb;
    font-size: 18px;
}
.text-competition{
   margin-top: -25px;
   min-width: 500px;
}

.button1{
    align-self: flex-start;
    background-color: #45be7d;
    border-radius: 8%;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px;
    border: 3px solid white;
    font-weight: bold;
}
.button1:hover{
    background-color: #f5c116;
    
}

.img-contend{
    margin-left: 30px;
    

}
.swimn{
    min-width: 620px;
    max-height: 300px;
    margin:30px 0;
    border: 3px solid white;
    border-radius: 2%;
}

h1{ 
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}
h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    min-height: auto;
    min-width: auto;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 0px 0px 5px #45be7d;
}
.sports{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 70px 0px;
}

.info > .text{
    max-width: 250px;
    text-align: justify;
    text-align-last: center;
    padding-top: 15px;
}
/*changed of img*/
.basket{
    width: 250px;
    height: 250px;
    background: url(./img/ball1.jpg);
    border: 5px solid #45be7d;;
    border-radius: 5%;
}
.basket:hover{
    background: url(./img/ball2.jpg);
    border:5px solid #f5c116;
}
.judo{
    width: 250px;
    height: 250px;
    background: url(./img/jud1.jpg);
    border: 5px solid #45be7d;;
    border-radius: 5%;
}
.judo:hover{
    background: url(./img/jud2.jpg);
    border:5px solid #f5c116;
}
.wliftingh{
    width: 250px;
    height: 250px;
    background: url(./img/pes1.jpg);
    border: 5px solid #45be7d;;
    border-radius: 5%;
}
.wliftingh:hover{
    background: url(./img/pes2.jpg);
    border: 5px solid #f5c116;;
}
.gimna{
    width: 250px;
    height: 250px;
    background: url(./img/gim1.jpg);
    border: 5px solid #45be7d;
    border-radius: 5%;
}
.gimna:hover{
    background: url(./img/gim2.jpg);
    border:5px solid #f5c116;;
}
.badminton{
    width: 250px;
    height: 250px;
    background: url(./img/bad1.jpg);
    border: 5px solid #45be7d;;
    border-radius: 5%;
}
.badminton:hover{
    background: url(./img/bad2.jpg);
    border:5px solid #f5c116;;
}
/**/

.fourt-element{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/39.jpg);
    background-attachment: fixed;
}

.bloque-quote{
    max-width: 60%;
    min-width: auto;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color:black;
    text-shadow: 0px 0px 5px #45be7d;
}
.quote{
    text-align: left;
    color: black;

}
.caption{
    align-self: flex-end;
    margin-right: 80px;
    font-weight:800;
    font-size: 30px;
    margin-top: -6%;
    margin-bottom: 6%;
}

.fith-element{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.call-action{
    display: flex;
    padding: 10px;
    background-color: #17402A;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 18px;
    min-width: 72%;
    justify-content: center;
    outline: 5px solid #17402A;
    border: 3px solid white;
}
.footer{
    display: flex;
    background-color: #17402A;
    color: #e5e7eb;
    justify-content: center;
    padding: 20px;
    
}
h3{
    font-weight: 800;
}
.last{
    align-self: center;
    margin-left: 15%;
    border: 3px solid white;

}
.text-call-action{
    margin-top: -20px;

}
